.control-pannel {
    height: 100vh;
    display: grid;

    grid-template-rows: auto 1fr;

    .feed {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        pointer-events: none;
    }

    .warning {
        text-align: center;
        position: absolute;
        top: 50%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        h1 {
            span {
                font-weight: 200;
                font-size: 1rem;
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;

        li {
            cursor: pointer;
        }

        .fullscr {
            margin-right: 10px;
            color: var(--red-accent);
        }
    }
}

.controller {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 20px;
    margin-top: 0;

    background: var(--light-bg-color);
    border-radius: 6px;
    overflow: hidden;
}

.left,
.right {
    position: relative;
    width: 100%;
    height: 100%;
}

.left {
    background: rgba(255, 0, 0, 0.1);
}

